In [11]:
import pandas as pd
import numpy as np
s=pd.Series([1,3,np.nan,7,9])
print(s)
s1=pd.Series([2,4,6,np.nan,10])
print(s1)
concat_s=pd.concat([s,s1])
concat_s
concat_s

0    1.0
1    3.0
2    NaN
3    7.0
4    9.0
dtype: float64
0     2.0
1     4.0
2     6.0
3     NaN
4    10.0
dtype: float64

0     1.0
1     3.0
2     NaN
3     7.0
4     9.0
0     2.0
1     4.0
2     6.0
3     NaN
4    10.0
dtype: float64

In [28]:
date=pd.date_range("20240101", periods=365)
date

DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06', '2024-01-07', '2024-01-08',
               '2024-01-09', '2024-01-10',
               ...
               '2024-12-21', '2024-12-22', '2024-12-23', '2024-12-24',
               '2024-12-25', '2024-12-26', '2024-12-27', '2024-12-28',
               '2024-12-29', '2024-12-30'],
              dtype='datetime64[ns]', length=365, freq='D')

In [35]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(5)), dtype="float32"),
        "D": np.array([3] * 5, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train","2"]),
        "F": "foo",
    }
)
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo
4  1.0 2013-01-02  1.0  3      2  foo

In [36]:
df=df.sort_index(axis=1,ascending=False)
df.sort_index(axis=0, ascending=False)

NameError: name 'df' is not defined