#HOW TO FIND THE VERSION

In [3]:
import pandas as pd

In [4]:
pd.__version__

'2.1.3'

In [5]:
pd.show_versions()

c:\Python311\Lib\site-packages\_distutils_hack\__init__.py:33: UserWarning: Setuptools is replacing distutils.
  warnings.warn("Setuptools is replacing distutils.")

INSTALLED VERSIONS
------------------
commit              : 2a953cf80b77e4348bf50ed724f8abc0d814d9dd
python              : 3.11.4.final.0
python-bits         : 64
OS                  : Windows
OS-release          : 10
Version             : 10.0.22631
machine             : AMD64
processor           : Intel64 Family 6 Model 140 Stepping 2, GenuineIntel
byteorder           : little
LC_ALL              : None
LANG                : None
LOCALE              : English_United Kingdom.1252

pandas              : 2.1.3
numpy               : 1.25.2
pytz                : 2023.3.post1
dateutil            : 2.8.2
setuptools          : 65.5.0
pip                 : 24.2
Cython              : None
pytest              : None
hypothesis          : None
sphinx              : None
blosc               : None
feather             : None
xlsxwriter          : None
lxml.etree          : 5.3.0
html5lib            : None
pymysql             : 1.4.6
psycopg2            : None
jinja2              : 3.1.2
IPython             : 8.29.0
pandas_datareader   : None
bs4                 : 4.12.3
bottleneck          : None
dataframe-api-compat: None
fastparquet         : None
fsspec              : 2023.6.0
gcsfs               : None
matplotlib          : 3.8.3
numba               : None
numexpr             : None
odfpy               : None
openpyxl            : 3.1.2
pandas_gbq          : None
pyarrow             : None
pyreadstat          : None
pyxlsb              : None
s3fs                : None
scipy               : 1.14.1
sqlalchemy          : 1.4.49
tables              : None
tabulate            : 0.9.0
xarray              : None
xlrd                : None
zstandard           : None
tzdata              : 2023.3
qtpy                : None
pyqt5               : None

# MAKE A DATAFRAME

In [6]:
import pandas as pd
import numpy as np

In [7]:
data={"a":[1,2,3,4,5],"b":['10',20,30,40,50]}
df=pd.DataFrame(data)

df.astype({"b":"int","a":"category"}).dtypes

a    category
b       int32
dtype: object

In [8]:
pd.to_numeric(df["a"],errors="coerce")
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       5 non-null      int64
 1   b       5 non-null      object
dtypes: int64(1), object(1)
memory usage: 212.0+ bytes

   a   b
0  1  10
1  2  20
2  3  30
3  4  40
4  5  50