In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df=sns.load_dataset('iris')

In [2]:
df.shape

(150, 5)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [23]:
df["species"]= df["species"].astype("category")

In [24]:
df["species_code"]=df["species"].cat.codes

In [25]:
df.drop("species",axis=1,inplace=True)

In [26]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width  species_code
count    150.000000   150.000000    150.000000   150.000000    150.000000
mean       5.843333     3.057333      3.758000     1.199333      1.000000
std        0.828066     0.435866      1.765298     0.762238      0.819232
min        4.300000     2.000000      1.000000     0.100000      0.000000
25%        5.100000     2.800000      1.600000     0.300000      0.000000
50%        5.800000     3.000000      4.350000     1.300000      1.000000
75%        6.400000     3.300000      5.100000     1.800000      2.000000
max        7.900000     4.400000      6.900000     2.500000      2.000000

In [42]:
print(f"quartile = \n{df.quantile([0.25,0.50,0.75])}")
print(f"mean = \n{df.mean()}")
print(f"median = \n{df.median()}")

quartile =
      sepal_length  sepal_width  petal_length  petal_width  species_code
0.25           5.1          2.8          1.60          0.3           0.0
0.50           5.8          3.0          4.35          1.3           1.0
0.75           6.4          3.3          5.10          1.8           2.0
mean =
sepal_length    5.843333
sepal_width     3.057333
petal_length    3.758000
petal_width     1.199333
species_code    1.000000
dtype: float64
median =
sepal_length    5.80
sepal_width     3.00
petal_length    4.35
petal_width     1.30
species_code    1.00
dtype: float64

In [ ]:
print(f"mean = {df['sepal_length'].mean()}")
print(f"manually calculate average = {df['sepal_length'].sum()/df['sepal_length'].count()}")
print(f"median = {df['sepal_length'].median()}")
print(f"mode = {df['sepal_length'].mode()}")

mean = 5.843333333333334
manually calculate average = 5.843333333333334
median = 5.8
mode = 0    5.0
Name: sepal_length, dtype: float64

AttributeError: 'numpy.ndarray' object has no attribute 'count'